In [2]:
# Import Dependencies
import pandas as pd

In [5]:
# Read in CSV
crime_data = pd.read_csv("data/Crimes_-_2001_to_Present.csv")
crime_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,-87.670000,"(41.815117282, -87.669999562)",29.0,14924.0,59.0,706.0,3.0,37.0,23.0,108.0
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,-87.765400,"(41.895080471, -87.765400451)",4.0,4299.0,26.0,562.0,45.0,5.0,25.0,67.0
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,-87.716650,"(41.937405765, -87.716649687)",15.0,21538.0,22.0,216.0,12.0,39.0,7.0,168.0
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,-87.755121,"(41.881903443, -87.755121152)",11.0,22216.0,26.0,696.0,23.0,32.0,25.0,81.0

In [3]:
# Concatenate crime csv files
# crime_data = pd.concat([crimes_2019,crimes_2020,crimes_2021])

In [4]:
# Preview full crime data
crime_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11864018,JC476123,09/24/2019 08:00:00 AM,022XX S MICHIGAN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,...,3.0,33.0,11,1177560.0,1889548.0,2019,10/20/2019 03:56:02 PM,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,JC471592,10/13/2019 08:30:00 PM,024XX W CHICAGO AVE,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,...,26.0,24.0,06,1160005.0,1905256.0,2019,10/20/2019 04:03:03 PM,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,JC476236,10/05/2019 06:30:00 PM,0000X N LOOMIS ST,0810,THEFT,OVER $500,RESIDENCE,False,False,...,27.0,28.0,06,1166986.0,1900306.0,2019,10/20/2019 03:56:02 PM,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,JC471542,10/13/2019 07:00:00 PM,016XX W ADDISON ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,47.0,6.0,14,1164930.0,1923972.0,2019,10/20/2019 04:03:03 PM,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,JC471240,10/13/2019 02:10:00 PM,051XX N BROADWAY,0560,ASSAULT,SIMPLE,GAS STATION,False,False,...,47.0,3.0,08A,1167380.0,1934505.0,2019,10/20/2019 04:03:03 PM,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [6]:
crime_data.groupby("Primary Type").count()
crime_data_clean = crime_data.loc[~crime_data["Primary Type"].isin(crime_data), :]
crime_data_clean['Primary Type'].value_counts()

THEFT                                1542807
BATTERY                              1342667
CRIMINAL DAMAGE                       834725
NARCOTICS                             737862
ASSAULT                               466535
OTHER OFFENSE                         455265
BURGLARY                              409851
MOTOR VEHICLE THEFT                   337857
DECEPTIVE PRACTICE                    312129
ROBBERY                               275237
CRIMINAL TRESPASS                     206384
WEAPONS VIOLATION                      89252
PROSTITUTION                           69388
OFFENSE INVOLVING CHILDREN             51315
PUBLIC PEACE VIOLATION                 50962
SEX OFFENSE                            28129
CRIM SEXUAL ASSAULT                    27902
INTERFERENCE WITH PUBLIC OFFICER       17621
GAMBLING                               14597
LIQUOR LAW VIOLATION                   14503
ARSON                                  12337
HOMICIDE                               11057
KIDNAPPING                              7015
INTIMIDATION                            4327
STALKING                                3948
CRIMINAL SEXUAL ASSAULT                 3110
CONCEALED CARRY LICENSE VIOLATION        731
OBSCENITY                                727
PUBLIC INDECENCY                         186
NON-CRIMINAL                             174
OTHER NARCOTIC VIOLATION                 139
HUMAN TRAFFICKING                         73
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: Primary Type, dtype: int64

In [7]:
from datetime import datetime,date

In [8]:
crime_data_cleaner = crime_data_clean[['ID', 'Primary Type', 'Date','Description', 'Location Description', 'Arrest', 'Domestic', 'Community Area', 'Year', 'Latitude', 'Longitude', 'Location']]

crime_data_cleaner.head()

,ID,Primary Type,Date,Description,Location Description,Arrest,Domestic,Community Area,Year,Latitude,Longitude,Location
0,10224738,BATTERY,09/05/2015 01:30:00 PM,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,61.0,2015,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,THEFT,09/04/2015 11:30:00 AM,POCKET-PICKING,CTA BUS,False,False,25.0,2015,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,THEFT,09/01/2018 12:01:00 AM,OVER $500,RESIDENCE,False,True,44.0,2018,NaN,NaN,NaN
3,10224740,NARCOTICS,09/05/2015 12:45:00 PM,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,21.0,2015,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,ASSAULT,09/05/2015 01:00:00 PM,SIMPLE,APARTMENT,False,True,25.0,2015,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [9]:
#change column names 
#drop nulls
#save df into csv OR connect from jupyter notebook

crime_data_cleaner.dropna()
crime_data_cleaner.columns=["id","primary_type","date","description", "location_description","arrest","domestic","community_area", "year", "lat" , "lng", "location"]
crime_data_cleaner.head()

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,10224738,BATTERY,09/05/2015 01:30:00 PM,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,61.0,2015,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,THEFT,09/04/2015 11:30:00 AM,POCKET-PICKING,CTA BUS,False,False,25.0,2015,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,THEFT,09/01/2018 12:01:00 AM,OVER $500,RESIDENCE,False,True,44.0,2018,NaN,NaN,NaN
3,10224740,NARCOTICS,09/05/2015 12:45:00 PM,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,21.0,2015,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,ASSAULT,09/05/2015 01:00:00 PM,SIMPLE,APARTMENT,False,True,25.0,2015,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [10]:
crime_data_cleaner.dtypes

id                        int64
primary_type             object
date                     object
description              object
location_description     object
arrest                     bool
domestic                   bool
community_area          float64
year                      int64
lat                     float64
lng                     float64
location                 object
dtype: object

In [11]:
crime_data_cleaner['date']= pd.to_datetime(crime_data_cleaner["date"])
crime_data_cleaner.head()

<ipython-input-11-b756ba49e938>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_cleaner['date']= pd.to_datetime(crime_data_cleaner["date"])

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,10224738,BATTERY,2015-09-05 13:30:00,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,61.0,2015,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,THEFT,2015-09-04 11:30:00,POCKET-PICKING,CTA BUS,False,False,25.0,2015,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,THEFT,2018-09-01 00:01:00,OVER $500,RESIDENCE,False,True,44.0,2018,NaN,NaN,NaN
3,10224740,NARCOTICS,2015-09-05 12:45:00,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,21.0,2015,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,ASSAULT,2015-09-05 13:00:00,SIMPLE,APARTMENT,False,True,25.0,2015,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [12]:
crime_data_cleaner['date']= crime_data_cleaner['date'].dt.strftime("%Y-%m-%d")
crime_data_cleaner.head()

<ipython-input-12-278bcf39c742>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_cleaner['date']= crime_data_cleaner['date'].dt.strftime("%Y-%m-%d")

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,10224738,BATTERY,2015-09-05,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,61.0,2015,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,THEFT,2015-09-04,POCKET-PICKING,CTA BUS,False,False,25.0,2015,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,THEFT,2018-09-01,OVER $500,RESIDENCE,False,True,44.0,2018,NaN,NaN,NaN
3,10224740,NARCOTICS,2015-09-05,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,21.0,2015,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,ASSAULT,2015-09-05,SIMPLE,APARTMENT,False,True,25.0,2015,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [13]:
crime_data_cleaner.to_csv("data/crimedata_final.csv", index=False)